body{
    margin: 0%;
    font-family: Bebas Neue;  
}
section{
    height: 400px; 
    padding-bottom: 50px;
}
.top-banner{
    background-repeat: no-repeat;
    background-position: right;
}
h1{
    font-size: 50px;
    color: #363958;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.name-highlight{
    color: #FF8367;
}
p{
    color: #3E3E3E;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(180deg,tomato, lightSalmon);
    color: whitesmoke;
    border-radius: 5px;
    font-size: larger;
    padding: 12px 30px;  
}
#button{
    text-decoration: none;
    background-image: linear-gradient(180deg,tomato, lightSalmon);
    color: whitesmoke;
    border-radius: 5px;
    font-size: larger;  
    padding: 12px 30px;
}
.half-width img{
    width: 70%;
    padding-top: 5%;
}
/* */
.about-txt{    
    color: #363958;
    font-size: 48px; 
}
/*.about-banner{
    background: rgb(252, 255, 253);
} */
/* lastet work*/
.project-banner{
    background: whitesmoke;    /* Deleted after*/
    margin: auto;
    border-radius: 5px;
}
.project-banner h1{
    text-align: center;
}
.project-image{
    float: left;
    width: 30%;
    margin: 20px;
    padding-left: 2px;
    border-radius: 10px; 
    height: 80%;
    background-color: whitesmoke;
    box-shadow: 10px 10px 40px rgba(157, 157, 157, 0.984);
}
.image-container{
    width: 50%;
    padding: auto;
}
.image-container-kk{
    width: 45%;
    height: 37%;
    border-radius: 18px;
    background-color: rgba(247, 242, 255, 0.837);
    display: inline-block;
    padding: 10px;
    overflow: hidden;
}
.name-project{
    margin: 5px;
}
.project-image p{
    margin: 5px;
}
/* Experience Area CSS */
#company{
    text-decoration: none;
    color:rgb(144, 0, 255)
}
.duration-highlight{
    color: darkorchid;
}
.h1-tag{
    text-align: center;
}
.single-experience{
    box-shadow: 10px 10px 40px rgba(111, 148, 126, 0.984);
    border-radius: 10px;
    height: 80%;
    background-color: whitesmoke;
}
.experience-area{
   background-image: url(Images/exp-bg.png); 
   background-repeat: no-repeat;
   background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgba(250, 160, 124, 0.882),rgb(255, 99, 31),rgb(188, 21, 2));
    border-image-slice: 1;
}
#j-SQA{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, cyan, blue);
    border-image-slice: 1;
}
/* Working Inquiry CSS */
.wi-working{
    text-align: center;
    position: relative;
    display: inline-block;
    padding-top: 10%; 
}
.wi-working img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}
h2{
    font-size: 30px;
}
.tag-im{
    position: absolute;
    top: 70%;
    left: 550px;
    color: aliceblue;
    transform: translate(-50%, -50%);
}
.tag-im-half{
    position: absolute;
    top: 70%;
    right: 400px;
    color: aliceblue;
    transform: translate(-50%, -50%);
}
.text-over-im{
    text-decoration: none;
    right: 1000px;
    color: whitesmoke;
    padding: 8px;
    background-image: linear-gradient(180deg,tomato, lightSalmon);
    border-radius: 2px;
}

/* buttom portion */
.b-portion{
    text-align: center;
}
.fo-p-h2 p{
    color: #3E3E3E;
}
.f-id-logo img{
    padding: 1%;
    margin: 0 auto;
}
.logo{
    width: 3%;
}
